@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #1A1A1A;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-left-animation {
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
  animation-name: moveFromLeft;
}

.text-right-animation {
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
  animation-name: moveFromRight;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(20rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn-animation {
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
  animation-name: moveFromBottom;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}